.overlay {
  width: 100vw;
  height: 100vh;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;

  &-wrap {
    max-width: 70%;
    padding-top: 200px;
    margin: 0 auto;
  }

  &__title {
    letter-spacing: 3px;
    margin-bottom: 50px;
    text-align: center;
  }

  &__content {
    position: relative;
  }

  

  &__helpers {
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 100px;
  }

  &__help {
    width: 338px;
    border: 2px solid #ffffff45;
    padding: 10px;
  }
}

.ege-form {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  flex-wrap: wrap;

  &__group {
    margin-bottom: 50px;
  }

  &__rus {
    left: -10%;
    top: 0%;
  }
  
  &__math {
    left: -5%;
    top: 8%;
  }

  &__physics {
    left: 0%;
    top: 15%;
  }

  &__history {
    left: 5%;
    top: 20%;
  }
}

