.ege-form {
  margin-right: 50px;

  &__groups {
    margin: 0 auto;
    max-width: 380px;
    background-color: #f3f2effa;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 2%;
    border: 1px solid #F8F7F1;
  }

  &__submit {
    display: block;
    margin: 0 auto;
    padding: 16px;
    background-color: #f3f2effa;
    border: 1px solid #000;
    border-radius: 8%;
    &:hover{
      background-color: #fff;
    }
  }

  &__group {
    margin-bottom: 10px;
    flex-basis: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    &:hover {
      transform: scale(1.01);
    }  
   

    label {
      margin-bottom: 0;
      line-height: 2;
      letter-spacing: 1.1px;
    }

    input {
     
    }
  }
}